In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("PovStatsEdit.csv")

In [4]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Asia & Pacific,EAS,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8135,Zimbabwe,ZWE,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8136,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8137,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8138,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8139,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba_nations = ['Poland', 'Canada', 'United Kingdom', 'China', 'Germany',
       'Morocco', 'Netherlands', 'Romania', 'Denmark', 'Puerto Rico',
       'Bahamas', 'Panama', 'Iceland', 'France', 'Spain', 'Nigeria',
       'Jamaica', 'South Sudan', 'Bulgaria', 'Haiti', 'Brazil',
       'Dominican Republic', 'Lebanon', 'Norway', 'Serbia', 'Lithuania',
       'Montenegro', 'Croatia', 'Russia', 'Egypt', 'Trinidad and Tobago',
       'Australia', 'Democratic Republic of the Congo', 'Latvia', 'Cuba',
       'Slovakia', 'U.S. Virgin Islands', 'Bosnia and Herzegovina',
       'Italy', 'Czech Republic', 'Mexico', 'Estonia', 'South Africa',
       'Ukraine', 'Saint Vincent and the Grenadines', 'Slovenia',
       'New Zealand', 'Senegal', 'Sweden', 'Guyana', 'Dominica',
       'Finland', 'Mali', 'Argentina', 'Turkey', 'Cameroon', 'Greece',
       'Luxembourg', 'Belgium', 'Venezuela', 'Ireland', 'Guadeloupe',
       'Republic of Korea', 'Japan', 'Uruguay', 'Martinique',
       'Switzerland', 'Gabon', 'Taiwan', 'Islamic Republic of Iran',
       'Israel', 'Republic of the Congo', 'United Republic of Tanzania',
       'French Guiana', 'FYR Macedonia', 'Tunisia', 'Cape Verde',
       'Austria','United States']

In [66]:
df_edit = df[ df['Country Name'].isin(nba_nations)]

In [68]:
len(df_edit)

2508

In [71]:
len(df_edit['Country Name'].unique())

57

In [72]:
len(nba_nations)

79

In [74]:
excluded_nba_nations = [ x for x in nba_nations if x not in df_edit['Country Name'].unique()]

In [75]:
len(excluded_nba_nations)

22

In [76]:
excluded_nba_nations

['Bahamas',
 'Cape Verde',
 'Cuba',
 'Democratic Republic of the Congo',
 'Dominica',
 'Egypt',
 'FYR Macedonia',
 'French Guiana',
 'Guadeloupe',
 'Islamic Republic of Iran',
 'Martinique',
 'New Zealand',
 'Puerto Rico',
 'Republic of Korea',
 'Republic of the Congo',
 'Russia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Taiwan',
 'U.S. Virgin Islands',
 'United Republic of Tanzania',
 'Venezuela']

In [78]:
map = {'Cape Verde':'Cabo Verde',
 'Democratic Republic of the Congo':'Congo, Dem. Rep.',
 'Egypt':'Egypt, Arab Rep.',
 'FYR Macedonia':'North Macedonia',
 'Islamic Republic of Iran':'Iran, Islamic Rep.',
 'Republic of Korea':'Korea, Rep.',
 'Republic of the Congo':'Congo, Rep.',
 'Russia':'Russian Federation',
 'United Republic of Tanzania':'Tanzania',
 'Venezuela':'Venezuela, RB'}

In [79]:
map

{'Cape Verde': 'Cabo Verde',
 'Democratic Republic of the Congo': 'Congo, Dem. Rep.',
 'Egypt': 'Egypt, Arab Rep.',
 'FYR Macedonia': 'North Macedonia',
 'Islamic Republic of Iran': 'Iran, Islamic Rep.',
 'Republic of Korea': 'Korea, Rep.',
 'Republic of the Congo': 'Congo, Rep.',
 'Russia': 'Russian Federation',
 'United Republic of Tanzania': 'Tanzania',
 'Venezuela': 'Venezuela, RB'}

In [84]:
newmap = {}
for pair in map:
    newmap[map[pair]] = pair

In [85]:
newmap

{'Cabo Verde': 'Cape Verde',
 'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
 'Egypt, Arab Rep.': 'Egypt',
 'North Macedonia': 'FYR Macedonia',
 'Iran, Islamic Rep.': 'Islamic Republic of Iran',
 'Korea, Rep.': 'Republic of Korea',
 'Congo, Rep.': 'Republic of the Congo',
 'Russian Federation': 'Russia',
 'Tanzania': 'United Republic of Tanzania',
 'Venezuela, RB': 'Venezuela'}

In [88]:
'Venezuela, RB' in newmap

True

In [118]:
df_excluded = df[ df['Country Name'].isin(newmap) ]

In [119]:
df_excluded

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1672,Cabo Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1673,Cabo Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,Cabo Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1675,Cabo Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1676,Cabo Verde,CPV,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,"Venezuela, RB",VEN,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7916,"Venezuela, RB",VEN,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7917,"Venezuela, RB",VEN,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7918,"Venezuela, RB",VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7919,"Venezuela, RB",VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
df_excluded.loc[7919,'Country Name']

'Venezuela, RB'

In [120]:
for( index, row) in df_excluded.iterrows():
    df_excluded.loc[index,'Country Name'] = newmap[row['Country Name']]

In [121]:
df_excluded

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1672,Cape Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1673,Cape Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1674,Cape Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1675,Cape Verde,CPV,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1676,Cape Verde,CPV,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,Venezuela,VEN,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7916,Venezuela,VEN,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7917,Venezuela,VEN,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7918,Venezuela,VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7919,Venezuela,VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
new_df = df_edit + df_excluded

In [123]:
len(df_edit)

2508

In [124]:
len(df_excluded)

440

In [125]:
len(new_df)

2948

In [129]:
df = df_edit.append(df_excluded)

In [130]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
880,Argentina,ARG,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.24,NaN
881,Argentina,ARG,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,NaN
882,Argentina,ARG,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.56,NaN
883,Argentina,ARG,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.66,NaN
884,Argentina,ARG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,43.9,43.0,42.3,41.2,41.0,41.4,NaN,42.4,40.60,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,Venezuela,VEN,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7916,Venezuela,VEN,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7917,Venezuela,VEN,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7918,Venezuela,VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7919,Venezuela,VEN,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
df_edit = df.dropna(thresh=7)

In [139]:
len(df)

2948

In [140]:
len(df_edit)

1199

In [141]:
df_edit

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
884,Argentina,ARG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,43.9,43.0,42.3,41.2,41.0,41.4,NaN,42.4,40.6,NaN
888,Argentina,ARG,Income share held by fourth 20%,SI.DST.04TH.20,NaN,NaN,NaN,NaN,NaN,NaN,...,23.2,22.9,22.9,23.4,23.5,23.4,NaN,22.7,23.2,NaN
889,Argentina,ARG,Income share held by highest 10%,SI.DST.10TH.10,NaN,NaN,NaN,NaN,NaN,NaN,...,31.1,31.0,30.6,29.4,29.3,29.5,NaN,30.9,29.4,NaN
890,Argentina,ARG,Income share held by highest 20%,SI.DST.05TH.20,NaN,NaN,NaN,NaN,NaN,NaN,...,48.2,48.0,47.4,46.3,46.0,46.6,NaN,47.6,46.0,NaN
891,Argentina,ARG,Income share held by lowest 10%,SI.DST.FRST.10,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3,1.6,1.7,1.7,1.8,1.8,NaN,1.8,1.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7900,Venezuela,VEN,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7901,Venezuela,VEN,Poverty headcount ratio at $3.20 a day (2011 P...,SI.POV.LMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7902,Venezuela,VEN,Poverty headcount ratio at $5.50 a day (2011 P...,SI.POV.UMIC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7903,Venezuela,VEN,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,NaN,NaN,NaN,NaN,NaN,NaN,...,26.4,26.8,27.4,27.2,29.4,29.5,33.1,NaN,NaN,NaN
7904,Venezuela,VEN,Poverty headcount ratio at national poverty li...,SI.POV.NAHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,26.4,26.8,27.4,27.2,29.4,29.5,33.1,NaN,NaN,NaN

In [142]:
df_edit.to_csv("int_poverty_data.csv")