In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("PovStatsEdit.csv")

In [4]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PC40.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT10.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PT60.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,East Asia & Pacific,EAS,Annualized growth in per capita real survey me...,SI.SPR.PCAP.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,East Asia & Pacific,EAS,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8135,Zimbabwe,ZWE,"Survey mean consumption or income per capita, ...",SI.SPR.PCAP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8136,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%),SI.POV.URGP,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8137,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%...,SI.POV.URGP.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8138,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8139,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC.NC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nba_nations = ['Poland', 'Canada', 'United Kingdom', 'China', 'Germany',
       'Morocco', 'Netherlands', 'Romania', 'Denmark', 'Puerto Rico',
       'Bahamas', 'Panama', 'Iceland', 'France', 'Spain', 'Nigeria',
       'Jamaica', 'South Sudan', 'Bulgaria', 'Haiti', 'Brazil',
       'Dominican Republic', 'Lebanon', 'Norway', 'Serbia', 'Lithuania',
       'Montenegro', 'Croatia', 'Russia', 'Egypt', 'Trinidad and Tobago',
       'Australia', 'Democratic Republic of the Congo', 'Latvia', 'Cuba',
       'Slovakia', 'U.S. Virgin Islands', 'Bosnia and Herzegovina',
       'Italy', 'Czech Republic', 'Mexico', 'Estonia', 'South Africa',
       'Ukraine', 'Saint Vincent and the Grenadines', 'Slovenia',
       'New Zealand', 'Senegal', 'Sweden', 'Guyana', 'Dominica',
       'Finland', 'Mali', 'Argentina', 'Turkey', 'Cameroon', 'Greece',
       'Luxembourg', 'Belgium', 'Venezuela', 'Ireland', 'Guadeloupe',
       'Republic of Korea', 'Japan', 'Uruguay', 'Martinique',
       'Switzerland', 'Gabon', 'Taiwan', 'Islamic Republic of Iran',
       'Israel', 'Republic of the Congo', 'United Republic of Tanzania',
       'French Guiana', 'FYR Macedonia', 'Tunisia', 'Cape Verde',
       'Austria','United States']

In [64]:
nba_nations_series = pd.Series(nba_nations)

In [66]:
df_edit = df[ df['Country Name'].isin(nba_nations)]

In [68]:
len(df_edit)

2508

In [71]:
len(df_edit['Country Name'].unique())

57

In [72]:
len(nba_nations)

79

In [74]:
excluded_nba_nations = [ x for x in nba_nations if x not in df_edit['Country Name'].unique()]

In [75]:
len(excluded_nba_nations)

22

In [76]:
excluded_nba_nations

['Bahamas',
 'Cape Verde',
 'Cuba',
 'Democratic Republic of the Congo',
 'Dominica',
 'Egypt',
 'FYR Macedonia',
 'French Guiana',
 'Guadeloupe',
 'Islamic Republic of Iran',
 'Martinique',
 'New Zealand',
 'Puerto Rico',
 'Republic of Korea',
 'Republic of the Congo',
 'Russia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'Taiwan',
 'U.S. Virgin Islands',
 'United Republic of Tanzania',
 'Venezuela']

In [ ]:
{'Cape Verde':'Cabo Verde',
 'Democratic Republic of the Congo':'Congo, Dem. Rep.',
 'Egypt':'Egypt, Arab Rep.',
 'FYR Macedonia':'North Macedonia',
 'Islamic Republic of Iran':'Iran, Islamic Rep.',
 'Republic of Korea':'Korea, Rep.',
 'Republic of the Congo':'Congo, Rep.',
 'Russia':'Russian Federation',
 'United Republic of Tanzania':'Tanzania',
 'Venezuela':'Venezuela, RB'}
 

}